

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,900;1,900&family=Roboto:ital,wght@1,100;1,900&display=swap');
*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    display: flex;
    font-family: 'Noto Sans', ;
    

}
.container button{
    background-color: aqua;
    border-radius: 20px;
    font-size: 15px;
    height: 30px;
    width: 100px;
    

}

   
